<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Reaction Game.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E4DC05361C48B91F0037AE25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4DC054F1C48B91F0037AE25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4DC055A1C48B91F0037AE25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
